@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

td,
th {
  padding: 6px;
  border: 1px solid #f47920;
  text-align: center;
  width: 50%;
  font-weight: 500;
}